/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { 
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css */
.website-portofolio,
.website-portofolio * {
  box-sizing: border-box;
}
.website-portofolio {
  background: #090909;
  width: 1440px;
  height: 3578px;
  position: relative;
  overflow: hidden;
}
.rectangle-26 {
  background: #000000;
  width: 1441px;
  height: 766px;
  position: absolute;
  left: -4px;
  top: 748px;
}
.rectangle-49 {
  background: #090909;
  width: 1439px;
  height: 1174px;
  position: absolute;
  left: 0px;
  top: 1514px;
}
.rectangle-48 {
  background: #000000;
  width: 1439px;
  height: 766px;
  position: absolute;
  left: 0px;
  top: 2688px;
}
.background {
  width: 1440px;
  height: 638px;
  position: absolute;
  left: 0px;
  top: 110px;
}
.hi-there {
  color: #ffffff;
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 99px;
  top: 327px;
}
.i-m-muhammad-fajar-wahyudi {
  color: #ffffff;
  text-align: left;
  font: 700 50px "Poppins", sans-serif;
  position: absolute;
  left: 99px;
  top: 390px;
}
.wahyudi-22-1 {
  width: 444px;
  height: 639px;
  position: absolute;
  left: 993px;
  top: 110px;
}
.rectangle-21 {
  background: #15b35e;
  width: 392px;
  height: 43px;
  position: absolute;
  left: 99px;
  top: 469px;
}
.web-developer-desainer {
  color: #ffffff;
  text-align: left;
  font: 700 22px "Poppins", sans-serif;
  position: absolute;
  left: 149px;
  top: 474px;
}
.rectangle-212 {
  background: #15b35e;
  border-radius: 60px;
  width: 211px;
  height: 43px;
  position: absolute;
  left: 99px;
  top: 530px;
}
.line-53 {
  border-style: solid;
  border-color: #15b35e;
  border-width: 2px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 109px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.about-me {
  color: #ffffff;
  text-align: left;
  font: 600 41px "Poppins", sans-serif;
  position: absolute;
  left: 595px;
  top: 774px;
}
.lorem-ipsum-has-been-the-industry-s-standard-dummy-text-ever-since-the-1500-s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged {
  color: #ffffff;
  text-align: center;
  font: 400 18px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 356px);
  top: 842px;
  width: 712px;
}
.rectangle-6 {
  background: #1c1b29;
  width: 1014px;
  height: 449px;
  position: absolute;
  left: 213px;
  top: 993px;
}
.fullname-muhammad-fajar-wahyudi {
  text-align: right;
  font: 700 16px "Poppins", sans-serif;
  position: absolute;
  left: 312px;
  top: 1163px;
}
.fullname-muhammad-fajar-wahyudi-span {
  color: #227d5f;
  font: 700 16px "Poppins", sans-serif;
}
.fullname-muhammad-fajar-wahyudi-span2 {
  color: #ffffff;
  font: 700 16px "Poppins", sans-serif;
}
.birthday-1-january-2003 {
  text-align: right;
  font: 700 16px "Poppins", sans-serif;
  position: absolute;
  left: 423px;
  top: 1201px;
}
.birthday-1-january-2003-span {
  color: #227d5f;
  font: 700 16px "Poppins", sans-serif;
}
.birthday-1-january-2003-span2 {
  color: #0d3d2d;
  font: 700 16px "Poppins", sans-serif;
}
.birthday-1-january-2003-span3 {
  color: #ffffff;
  font: 700 16px "Poppins", sans-serif;
}
.phone-number-6287851601889 {
  text-align: right;
  font: 700 16px "Poppins", sans-serif;
  position: absolute;
  left: 362px;
  top: 1239px;
}
.phone-number-6287851601889-span {
  color: #227d5f;
  font: 700 16px "Poppins", sans-serif;
}
.phone-number-6287851601889-span2 {
  color: #ffffff;
  font: 700 16px "Poppins", sans-serif;
}
.e-mail-wfajar-515-gmail-com {
  text-align: right;
  font: 700 16px "Poppins", sans-serif;
  position: absolute;
  left: 377px;
  top: 1277px;
}
.e-mail-wfajar-515-gmail-com-span {
  color: #227d5f;
  font: 700 16px "Poppins", sans-serif;
}
.e-mail-wfajar-515-gmail-com-span2 {
  color: #ffffff;
  font: 700 16px "Poppins", sans-serif;
}
.rectangle-22 {
  background: #0fb659;
  width: 344px;
  height: 23px;
  position: absolute;
  left: 809px;
  top: 1120px;
}
.rectangle-23 {
  background: #0fb659;
  width: 300px;
  height: 23px;
  position: absolute;
  left: 809px;
  top: 1195px;
}
.rectangle-24 {
  background: #0fb659;
  width: 326px;
  height: 23px;
  position: absolute;
  left: 809px;
  top: 1271px;
}
.rectangle-25 {
  background: #0fb659;
  width: 319px;
  height: 23px;
  position: absolute;
  left: 809px;
  top: 1347px;
}
.skills {
  color: #ffffff;
  text-align: left;
  font: 700 24px "Poppins", sans-serif;
  position: absolute;
  left: 805px;
  top: 1020px;
}
.html-css {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 809px;
  top: 1086px;
}
.php {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 809px;
  top: 1163px;
}
.wordpress {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 809px;
  top: 1239px;
}
.javascript {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 809px;
  top: 1315px;
}
.ellipse-2 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 544px;
  top: 1021px;
}
.user {
  width: 101px;
  height: 101px;
  position: absolute;
  left: 543px;
  top: 1020px;
}
._95 {
  color: #ffffff;
  text-align: left;
  font: 700 14px "Poppins", sans-serif;
  position: absolute;
  left: 965px;
  top: 1123px;
}
._952 {
  color: #ffffff;
  text-align: left;
  font: 700 14px "Poppins", sans-serif;
  position: absolute;
  left: 966px;
  top: 1274px;
}
._88 {
  color: #ffffff;
  text-align: left;
  font: 700 14px "Poppins", sans-serif;
  position: absolute;
  left: 965px;
  top: 1349px;
}
._89 {
  color: #ffffff;
  text-align: left;
  font: 700 14px "Poppins", sans-serif;
  position: absolute;
  left: 965px;
  top: 1197px;
}
.download-cv {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 136px;
  top: 536px;
}
.portofolio {
  color: #e9eaec;
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 562px;
  top: 1567px;
}
.rectangle-28 {
  width: 367px;
  height: 349px;
  position: absolute;
  left: 255px;
  top: 1757px;
}
.rectangle-46 {
  width: 367px;
  height: 349px;
  position: absolute;
  left: 255px;
  top: 2221px;
}
.rectangle-47 {
  width: 367px;
  height: 349px;
  position: absolute;
  left: 818px;
  top: 2221px;
}
.rectangle-29 {
  width: 367px;
  height: 349px;
  position: absolute;
  left: 818px;
  top: 1757px;
}
.contact {
  color: #e9eaec;
  text-align: left;
  font: 700 40px "Poppins", sans-serif;
  position: absolute;
  left: 636px;
  top: 2707px;
}
.address {
  color: #f5f5f5;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 218px;
  top: 2885px;
}
.phone-number {
  color: #f5f5f5;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 651px;
  top: 2882px;
}
.website {
  color: #f5f5f5;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 1122px;
  top: 2882px;
}
.jl-kh-mansyur-no-2-a {
  color: #ababab;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 160px;
  top: 2915px;
}
._6287851601889 {
  color: #ababab;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 643px;
  top: 2911px;
}
.fajar-com {
  color: #ababab;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 1122px;
  top: 2913px;
}
.text {
  color: #ababab;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 630px;
  top: 2904px;
}
.rectangle-41 {
  background: #0fb659;
  width: 161px;
  height: 61px;
  position: absolute;
  left: 1130px;
  top: 3310px;
}
.rectangle-43 {
  background: #1c1b29;
  width: 342px;
  height: 53px;
  position: absolute;
  left: 149px;
  top: 2979px;
}
.rectangle-44 {
  background: #1c1b29;
  width: 351px;
  height: 53px;
  position: absolute;
  left: 532px;
  top: 2979px;
}
.rectangle-45 {
  background: #1c1b29;
  width: 351px;
  height: 53px;
  position: absolute;
  left: 940px;
  top: 2979px;
}
.rectangle-40 {
  background: #1c1b29;
  width: 1142px;
  height: 184px;
  position: absolute;
  left: 149px;
  top: 3070px;
}
.email {
  color: #ffffff;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 565px;
  top: 2994px;
}
.ema-il-subject {
  color: #ffffff;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 957px;
  top: 2994px;
}
.name {
  color: #ffffff;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 157px;
  top: 2994px;
}
.comment {
  color: #ffffff;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  opacity: 0.5;
  position: absolute;
  left: 160px;
  top: 3077px;
}
.send-message {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Poppins", sans-serif;
  position: absolute;
  left: 1150px;
  top: 3329px;
}
.rectangle-442 {
  background: #1c1b29;
  width: 1440px;
  height: 125px;
  position: absolute;
  left: 0px;
  top: 3453px;
}
.copyright-2023-all-right-reserved {
  color: #f5f5f5;
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 538px;
  top: 3502px;
  width: 350px;
}
.untitled-1-copy-3 {
  width: 100px;
  height: 117px;
  position: absolute;
  left: 544px;
  top: 993px;
}
.home {
  color: #ffffff;
  text-align: left;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 734px;
  top: 44px;
  width: 55px;
  height: 22px;
}
.portofolio2 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Poppins", sans-serif;
  position: absolute;
  left: 104px;
  top: 42px;
  width: 106px;
  height: 22px;
}
.about-me2 {
  color: #ffffff;
  text-align: left;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 890px;
  top: 44px;
  width: 94px;
  height: 22px;
}
.portofolio3 {
  color: #ffffff;
  text-align: left;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 1076px;
  top: 44px;
  width: 100px;
  height: 22px;
}
.contact2 {
  color: #ffffff;
  text-align: left;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 1263px;
  top: 44px;
  width: 78px;
  height: 22px;
}
.art-desaign {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 519px;
  top: 1662px;
}
.developer {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 733px;
  top: 1662px;
}
.programer {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 903px;
  top: 1662px;
}
.all {
  color: #ffffff;
  text-align: left;
  font: 700 18px "Poppins", sans-serif;
  position: absolute;
  left: 436px;
  top: 1662px;
}
